div {
  height: 12.5em;
  position: absolute;
  width: 12.5em;
}

div > div {
  background: orange;
  bottom: 40%;
  height: 2.5em;
  right: 40%;
  width: 2.5em;
}

#box_1 {
  background: #ee3e64;
  left:0;
	top:0;
}

#box_2 {
  background: #44accf;
  right:0;
	top:0;
}

#box_3 {
  background: #b7d84b;
	bottom:0;
	right:0;
}

#box_4 {
  background: #ebde52;
	bottom:0;
	left:0;
}
