div {
  position: absolute;
}

#box_1 {
  background: rgb(168, 22, 136);
  bottom: 0;
  left: 0;
  right: 20%;
  top: 0;
}

#box_2 {
  background: rgb(19, 81, 191);
  bottom: 0;
  left: 80%;
  right: 0;
  top: 0;  
}
